In [41]:
import numpy as np #библиотека для работы с n-мерными массивами, линейной алгеброй, статистикой и т.д.
import matplotlib.pyplot as plt #для отрисовки графиков и диаграмм
import pandas as pd #библиотека для обработки и анализа данных
from sklearn.linear_model import LinearRegression #импорт функции линейной регрессии
from sklearn.tree import DecisionTreeRegressor #импорт функции обучения дерева решений
from sklearn.metrics import mean_squared_error #импорт функции средней суммы квадратов отклонений

data = pd.read_csv('EventsByTimes') #объявляем переменную, в которую записываем табличные данные
data

,Id,DateTime,SumEventByTime,SumMedium,SumHigh
0,1198782,2022-09-09 16:13:33.254398,271,2,0
1,1198783,2022-09-09 16:14:33.245376,291,4,0
2,1198784,2022-09-09 16:15:33.257618,349,1,0
3,1198785,2022-09-09 16:16:33.255939,287,4,0
4,1198786,2022-09-09 16:17:33.259167,335,2,0
...,...,...,...,...,...
1247135,1198777,2022-09-09 16:08:33.251708,313,3,0
1247136,1198778,2022-09-09 16:09:33.24986,273,1,0
1247137,1198779,2022-09-09 16:10:33.253967,329,5,0
1247138,1198780,2022-09-09 16:11:33.252432,296,6,0
1247139,1198781,2022-09-09 16:12:33.253954,336,4,0

In [42]:
#отсортируем строки по полю Id
data_sorted = data.sort_values(by='Id')
data_sorted

            Id                    DateTime  SumEventByTime  SumMedium  SumHigh
48455        1  2019-11-28 18:45:45.457929               0          0        0
48456        2  2019-11-28 18:45:48.605591             482          0        0
48457        3  2019-11-28 18:46:48.518908             363          0        0
48458        4  2019-11-28 18:47:48.466795             371          0        0
48459        5  2019-11-28 18:48:48.431212             342          0        0
...        ...                         ...             ...        ...      ...
48450  1247294  2022-10-17 13:01:50.995897             197          3        0
48451  1247295   2022-10-17 13:02:50.99414             248          6        0
48452  1247296  2022-10-17 13:03:50.991127             254          7        0
48453  1247297  2022-10-17 13:04:50.989884             173          4        0
48454  1247298  2022-10-17 13:05:50.988186             280          2        0

[1247140 rows x 5 columns]

In [46]:
#проверим правильность сортировки по ключу Id, построив линейный график за один год
condition1 = data_sorted['DateTime'] < '2019-11-30'
condition2 = data_sorted['DateTime'] > '2019-11-29'
short_data_sorted = data_sorted[condition1]
short_data_sorted = short_data_sorted[condition2]
short_data_sorted
#x = short_data_sorted['Id']
#y = short_data_sorted['DateTime']

#plt.figure(figsize=(20,10))
#plt.plot(x,y)
#plt.ylabel('дата')
#plt.xlabel('Id')
#plt.show()

C:\Users\p.uvarov\AppData\Local\Temp\ipykernel_7440\1446673083.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  short_data_sorted = short_data_sorted[condition2]

        Id                    DateTime  SumEventByTime  SumMedium  SumHigh
48466   12  2019-11-29 10:58:42.125984             288          0        0
48467   13  2019-11-29 11:02:14.358982             426          0        0
48468   14   2019-11-29 11:03:14.27965             291          0        0
48469   15  2019-11-29 11:24:01.319067             477          0        0
48470   16  2019-11-29 11:25:01.264783             558          0        0
...    ...                         ...             ...        ...      ...
48615  161  2019-11-29 17:31:53.787427             508          0        0
48616  162  2019-11-29 17:38:21.095342             486         11        0
48617  163  2019-11-29 17:39:21.083878             433         14        0
48618  164  2019-11-29 17:42:05.674536             258          2        0
48619  165  2019-11-29 17:43:05.543426             224          0        0

[154 rows x 5 columns]

In [44]:
conditionA = data_sorted['Id'].isna()
conditionB = data_sorted['DateTime'].isna()

conditionA
conditionB

48455    False
48456    False
48457    False
48458    False
48459    False
         ...
48450    False
48451    False
48452    False
48453    False
48454    False
Name: DateTime, Length: 1247140, dtype: bool

In [45]:
print(data_sorted[conditionA])
print(data_sorted[conditionB])

Empty DataFrame
Columns: [Id, DateTime, SumEventByTime, SumMedium, SumHigh]
Index: []
Empty DataFrame
Columns: [Id, DateTime, SumEventByTime, SumMedium, SumHigh]
Index: []